.perrone {
    font-family: $main-font;
    
    h1, h2, h3, h4 {
      font-family: $main-font;
      font-weight: bold;
    }

    h1 {	
      font-family: $accent-font;
    	font-size: 35px;
    }

    h2 {
    	font-size: 25px;
      margin-top: 40px;
    }

    h3 {
      font-size: 20px;
    }

    p {
    	font-size: 20px;
    	line-height: 30px;
    }

    ul {
      margin-top: 20px;
    }

    :focus {
      border: 1px solid #DADADA;
      outline: none;
    }

   	nav.navigation {
  		background: $corporate-nav-bg;
  		color: $white;
  		display: block;
  		float: left;
  		height: 100vh;
      overflow-y: auto;
  		position: fixed;
  		width: $sidebar-width;
  		z-index: 100;

  		@media screen and (max-width: $lg-breakpoint){
        display: flex; 
        height: 80px;
        width: 100%;
        justify-content: center;
  		}

      h1 {
        border-bottom: 1px solid $corporate-gold;
        color: $corporate-gold;
        font-family: $main-font;
        font-size: 18px;
        font-weight: normal;
        margin: 30px 30px 0;
        padding-bottom: 10px;
        
        @media screen and (max-width: $lg-breakpoint){
          color: $white;
          border: 0;
        }

      }

      .alm-link {
        text-decoration: none;
      }

		.nav {
			padding: 10px 0 150px 30px;

			@media screen and (max-width: $lg-breakpoint){
		      align-items: flex-end;
		      background: $black;
		      left: 0;
		      top: 60px;
		      display: none;
		      height: 100vh;
		      justify-content: flex-start;
		      position: fixed;
		      width: 100%;
		    }

			a {
				color: $white;
				text-decoration: none;

				&:hover {
					color: #8f989d;
				}
			}

      .secondary {
          margin-top: 150px;
      }

			>li {
				margin-top: 18px;

        .fas {
          transform: rotate(180deg);
          transition: all .3s ease-out;

          &.open {
            transform: rotate(0deg);
            transform-origin: center;
          }
        }

				ul {
					padding: 0 0 10px 8px;
          margin-top: 10px;
          display: none;
				}

				li {
					margin: 12px auto 0;
				}
			}

      .nav-path-selected {
        font-weight: bold;

        ul {
          display: block;
        }
      }

      .nav-selected {

        .fas {
          transform: rotate(0deg);

          &.open {
            transform: rotate(180deg);
          }
        }
      }

			.nav-dropdown {
				cursor: pointer;
				font-weight: bold;

				li {
					font-weight: normal;
				}
			}

      .nav-dropdown {
        margin-right: 5px;

        &.nav-path-selected {

          .fas {
            transform: rotate(0deg);

            &.open {
              transform: rotate(180deg);
            }
          }
        }
      }
		}

		.logo {
			margin: 20px 0 0 20px;

			@media screen and (max-width: $lg-breakpoint) { 
		    margin-top: 5px;
		  } 
		}

		/* mobile menu styles */

    .toggle-wrapper {
      height: 26px;
      left: 30px;
      position: fixed;
      top: 20px;
      width: 80px;
      z-index: 5;

      p {
        float: right;
        font-size: 0.6em;
        //margin: 35px 0 0;
      }

      @media screen and (min-width: $lg-breakpoint) {
        display: none;
      }      
    }

    .menu-toggle {
      cursor: pointer;

      .bg {
        display: block;
        width: 100%;
        height: 22px;
        position: absolute;
        
      }

      .bar {
        background: $white;
        display: block;
        height: 2px;
        position: absolute;
        width: 30px;
        top: 10%;

        &:nth-child(2){
          top: 50%;
        }
        &:nth-child(3){
          top: 90%;
        }
      }

      &.active {

        p {
          color: $white;
        }

        .bar {
          transition: $menu-transition;
          
          &:first-child {
            background: $white;
            transform: rotate(-45deg);
            top: 50%;
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            background: $white;
            transform: rotate(45deg);
            top: 50%;
          }
        }
      }

      &.inactive {

        .bar {
          background: $white;
          transition: $menu-transition;
          
          &:first-child {
            background: $white;
            transform: rotate(0);
            top: 20%;
          }

          &:nth-child(2) {
            opacity: 1;
          }

          &:nth-child(3) {
            background: $white;
            transform: rotate(0);
            top: 80%;
          }
        }
      }
    }

    &.blue {
      background: $blue-theme;

      h1 {
        border-bottom: 1px solid $nav-hover;
        color: $nav-hover;
      }

      .nav {

        @media screen and (max-width: $lg-breakpoint){
          background: $blue-theme;
        }
      }
    }
	}

	// content areas 

	.content {
    margin-left: $sidebar-width;

		@media screen and (max-width: $lg-breakpoint){
			margin-left: 0;   
			padding-top: 80px;
		}

		.container {
			margin: 50px auto 0;
			max-width: 1600px;
			text-align: left;
			width: 90%;

      @include flex-col-layout();

      >div {
        @include mobile-full-width();
      }
		}

    .product-cta {
        align-items: center;
        color: white;
        cursor: pointer;
        display: flex;
        z-index: 20;

        &:hover {
          transform: scale(1.1, 1.1);
          transition: all .4s ease-out;
        }

        @media screen and (max-width: $lg-breakpoint){
          top: 60%;
        }

        img {
          width: 50px;
        }

        .text {
          margin-left: 10px;
        }
        .text p {
          align-items: center;
          background: rgba(0,0,0,0.5);
          border-radius: 12px;
          color: white;
          display: flex;
          font-size: 0.8em;
          margin: 0 0 0 5px;
          height: 26px;
          padding: 0 10px;
        }

        .text a {
          color: white;
          text-decoration: none;
        }
      }
	 }

    &.home_wrapper {
      overflow: hidden;

      .navigation {

        h1, .secondary {
          display: none;
        }

        .nav {

          li:nth-child(-n+3) {
            font-weight: bold;
          }
          li:nth-child(4) {
            margin-top: 150px;
          }
        }
      }

      .content {
        justify-content: center;
        width: 130%;

        @media screen and (max-width: $lg-breakpoint){
            width: 100%;
          }
      }

      .tagline {

          @media screen and (max-width: $lg-breakpoint){
            width: 90%;
            top: 120px;
          }
      }
    }
  }



