
.perrone  {

	.blue-theme {

		h1, h2, h3, h4 {
			color: $blue-theme-header;
		}

		h1 {
			background: #f4f9fc;
			font-family: $main-font;
			font-style: italic;

			@media screen and (max-width: $lg-breakpoint) {
            	font-size: 30px;
        	}
		}


	}

}