
.perrone footer {
	background: $gray-bg;
	padding: 20px 0;
	margin: 100px 0 0 $sidebar-width;

	@media screen and (max-width: $lg-breakpoint){
		margin-left: 0;
	}

	h1, h2 {
		font-family: $main-font;
		text-transform: uppercase;
		font-size: 20px;
	}

	p {
		font-size: 16px;
		line-height: 20px;
	}

	.container {
		display: flex;
		justify-content: center;

		@include flex-col-layout();

		>div {
			border-radius: 10px;
			color: $white;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0 5px;
			padding: 40px 0;
			text-align: center;
			width: 30%;

			@media screen and (max-width: $lg-breakpoint){
				margin: 0;
			}

			a {
				color: $footer-alt-color;
			}


			@include mobile-full-width();

			&:first-child {
				background: url('../img/europe-contact-bg.png') no-repeat;
				background-size: cover;
			}

			&:nth-child(2) {
				background: url('../img/usa-contact-bg.png') no-repeat;
				background-size: cover;
			}

			&:nth-child(3) {
				background: url('../img/asia-contact-bg.png') no-repeat;
				background-size: cover;
			}
		}

	}
}