.perrone {

    .image-slider {
        width: 100%;

        .slick-prev,
        .slick-next {
            top: 85%;
            z-index: 2;
        }

        .slick-prev {
            left: 40%;

            @media screen and (max-width: $md-breakpoint) {
                left: 25%;
            }
        }

        .slick-next {
            right: 40%;

            @media screen and (max-width: $md-breakpoint) {
                right: 65%;
            }
        }

        .slick-dots {
            right: 5%;
            text-align: right;
            width: 300px;

            @media screen and (max-width: $lg-breakpoint) {
                display: none !important;
            }

            li {
                text-align: center;

                button {
                    display: none;
                    height: 0;
                    padding: 0;
                    width: 0;
                }

                &:after {
                    color: $white;
                    font-size: 0.8em;
                    font-weight: 600;
                }

                &:first-child {
                    &:after {
                        content: '1';
                    }
                }

                &:nth-child(2) {
                    &:after {
                        content: '2';
                    }
                }

                &:nth-child(3) {
                    &:after {
                        content: '3';
                    }
                }

                &:nth-child(4) {
                    &:after {
                        content: '4';
                    }
                }

                &.slick-active {
                    &:after {
                        background: rgba(0, 0, 0, .5);
                        border-radius: 50px;
                        padding: 4px;
                        display: block;
                    }
                }
            }
        }

        .inner {
            align-items: center;
            display: flex;
            justify-content: center;
            position: relative;

            @media screen and (max-width: $lg-breakpoint) {
                align-items: flex-start;
            }

            h1 {
                color: $white;
                font-family: $accent-font;
                font-size: 2.8em;
                font-weight: 800;
                position: absolute;
                text-shadow: 2px 2px 4px #000000;
                width: 600px;

                @media screen and (max-width: $md-breakpoint) {
                    font-size: 2em;
                    padding-top: 50px;
                    width: 350px;
                }

                @media screen and (max-width: $sm-breakpoint) {
                    font-size: 1.7em;
                    padding-top: 35px;
                    width: 300px;
                }
            }

            .product-pic {
                width: 100%;
            }

            .product-cta {
                position: absolute;
                left: 4%;
                top: 80%;

                .text {
                    background: rgba(0, 0, 0, .5);
                    border-radius: 20px;
                    padding: 5px 10px;
                }

                @media screen and (max-width: $lg-breakpoint) {
                    top: 57%;
                }
            }

            p {
                color: $white;
                position: absolute;
                top: 83.5%;
                z-index: 2;
            }
        }
    }

    .landing {
        background: $black;
        height: 100vh;

        @media screen and (max-width: $lg-breakpoint) {
            background: url('../img/brown-leather.png');
        }

        .landing-slider {

            @media screen and (max-width: $lg-breakpoint) {
                display: none;
            }
        }
    }

    .tagline,
    .links,
    .social {
        color: $white;
        display: flex;
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-35%);

    }

    .tagline {
        color: $white;
        font-family: $accent-font;
        font-size: 2.8em;
        font-weight: 800;
        position: absolute;
        top: 180px;
        text-shadow: 2px 2px 4px #000000;
        width: 600px;

        @media screen and (max-width: $lg-breakpoint) {
            width: 100%;
            @include translate-x-center();
        }
    }

    .links {
        text-shadow: 2px 2px 4px #000000;
        font-size: 1.3em;
        font-weight: 600;
        justify-content: center;
        top: 60%;
        width: 70%;

        @media screen and (max-width: $lg-breakpoint) {
            width: 100%;
            @include translate-x-center();
            flex-direction: column;
        }

        >div {
            padding: 10px 80px;
            border-right: 1px solid $white;

            a {
                color: $white;
                text-decoration: none;
            }

            @media screen and (max-width: $lg-breakpoint) {
                padding: 10px 0px;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border: 0;
            }
        }
    }

    .social {
        bottom: 10%;
        font-size: 1.5em;
        left: 53%;

        @media screen and (max-width: $lg-breakpoint) {
            @include translate-x-center();
        }

        >div {
            opacity: .5;
            padding: 0 20px;

            a {
                color: $white;
                text-decoration: none;
            }
            
        }
    }

    .opening-text {
        display: flex;

        @include flex-col-layout();

        @media screen and (max-width: $lg-breakpoint) {
            text-align: center;
        }

        div {
            padding: 30px 0;

            &:first-child {
                font-family: $accent-font;
                font-size: 30px;
                line-height: 42px;
                width: 400px;

                @include mobile-full-width();
            }

            &:nth-child(2) {
                @include hide-mobile();
            }

            &:nth-child(3) {
                font-size: 20px;
                font-weight: 300;
                line-height: 1.3em;
                padding: 30px;
                width: 60%;

                @include mobile-full-width();
            }
        }
    }

    .content {
            .products,
            .customization {
                color: $white;
                display: flex;
                font-size: 36px;
                justify-content: space-between;
                margin-top: 0;

                >a {
                    display: block;
                    height: 180px;
                    margin: 20px;
                    width: 100%;
                    text-decoration: none;
                    color: $white;

                    @media screen and (max-width: $lg-breakpoint) {
                        margin: 50px 0 0 0;
                        text-align: center;
                    }

                    >div {
                        display: flex;
                        align-items: center;
                        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
                        justify-content: center;
                        box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.4);
                    }

                    &:first-child {
                        >div {
                            background: url('../img/brown-leather.png');
                            background-position: center;
                            background-size: cover;
                            height: 100%;
                        }
                    }

                    &:nth-child(2) {
                        >div {
                            background: url('../img/alcantara_351.jpg');
                            background-position: center;
                            background-size: cover;
                            height: 100%;
                        }
                    }
                }
            }
    }



    .customization {

        div {
            width: 100%;
        }
    }

    .video {
        background: url('../img/vid-bg.png');
        background-position: 0 50px;
        background-repeat: repeat-x;
        display: flex;
        margin: 160px auto 0;
        text-align: center;
        position: relative;
        width: 100%;

        @media screen and (max-width: $lg-breakpoint) {
            background: none;
        }

        a {
            text-decoration: none;
        }

        .container {
            position: relative;
            margin: 0 auto;
            width: 100%;
        }

       .video-cta {
            align-items: center;
            color: $white;
            position: absolute;
            font-size: 20px;
            display: flex;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-shadow: $default-font-shadow;
            justify-content: center;

            @media screen and (max-width: $lg-breakpoint) {
                 font-size: 15px;
            }
            @media screen and (max-width: $sm-breakpoint) {
                 font-size: 10px;
            }

            img {
                align-self: center;
            }

            p {
                font-size: 1.3em;
                line-height: 1.7em;
            }

            span {
                letter-spacing: .2em;
                font-size: 1.8em;
                font-weight: bold;
                font-style: italic;
            }

            @include translate-center();
            z-index: 2;
        }

        img {
            width: 100%;
            max-width: 1000px;
        }

        .container {
            display: flex;
            justify-content: center;
        }
    }

    .content {

        .testimonials {
            margin-top: 100px;
            padding: 0 15%;
            text-align: center;

            @media screen and (min-width: 1600px) {
                margin-top: 0;
            }

            .scroller {

                .slick-prev,
                .slick-next {

                    &:before {
                        color: $black;
                        opacity: .5;
                    }
                }

                .slick-prev {
                    left: -60px;
                }

                .slick-next {
                    right: -60px;
                }
            }
        }
    }
}