
.internal_wrapper {

	.content {
		text-align: left;

		ul {
			padding-left: 30px;

	      li {
	        font-size: 16px;
	        list-style-type: disc;
	        margin-top: 8px;
	      }
	    }

		h1 {
			background: $gray-bg;
			font-size: 60px;
			font-weight: bold;
			padding: 30px;
			letter-spacing: 4px;
		}

		.product-box {
			display: flex;
			justify-content: space-around;
			margin: 50px auto;

			@include flex-col-layout(1300px);

			h2 {
				font-weight: 500;
			}

			>div {
				margin-top: 20px;
				min-height: 300px;
				width: 45%;

				@include mobile-full-width(1300px);

				@media screen and (max-width: $lg-breakpoint){
		  			margin-top: 50px;   
		  		}

				&:first-child {
					//height: 325px;
					position: relative;

					img {
						width: 100%;
					}

					h2 {
						font-size: 24px;
						letter-spacing: 1px;
						margin: 0;
					}

					.textbox {
						align-items: center;
						background: rgba(0,0,0,0.5);
						bottom: 0;
						color: $white;
						display: flex;
						justify-content: space-between;
						padding: 12px;
						position: absolute;
						width: 100%;
						z-index: 2;

						img {
							width: 50px;
						}
					}
				}
			}
		}

		.product-description {
			display: flex;
			justify-content: space-between;

			@include flex-col-layout();

			.product-image {
				margin-top: -150px;

				@media screen and (max-width: $lg-breakpoint){
		  			margin-top: 40px;   
		  		}
			}

			.product-slider {
				width: 90%;

				@include translate-x-center();

				.slick-prev,
				.slick-next {
					top: 40%;

					&:before {
						color: $black;
						opacity: .5;
						font-size: 45px;
					}
				}

				.slick-prev {
					left: -50px;
				}

				>div {
					align-items: center;
					display: flex;
					flex-direction: column;
					justify-content: center;

					p {
						font-weight: 600;
						margin-top: 10px;
						text-align: center;
						width: 100%;
					}
				}
			}

			>div {
				width: 45%;

				@include mobile-full-width();
			}
		}

		.video-boxes {
			margin-top: 120px;
			display: flex;
			justify-content: space-between;
			margin: 50px auto;

			@include flex-col-layout();

			a {
				height: 350px;
				text-decoration: none;
				width: 48%;

				>div {
					align-items: flex-end;
					box-shadow: $default-box-shadow;
					display: flex;
					height: 350px;
					width: 100%;

					@include mobile-full-width();

					@media screen and (max-width: $lg-breakpoint){
			  			margin-top: 50px;   
			  		}
				}

				&:first-child {
					
					>div {
						background: url('../img/alcantara-seat.png');
						background-position: center;
						background-size: cover;
					}
				}

				&:nth-child(2) {
					
					>div {
						background: url('../img/satisfied-customer.png');
						background-position: center;
						background-size: cover;
					}
				}

				.textbox {
					align-items: center;
					color: $white;
					text-shadow: $default-font-shadow;
					display: flex;
					justify-content: space-between;
					padding: 0 20px;
					width: 100%;

					h2 {
						font-size: 28px;
						text-transform: uppercase;
					}

					img {
						height: auto;
						width: 80px;
					}
				}
			}
		}
	}

	.landing {
		height: 100vh;

		.landing-slider {
			background: black;
			height: 800px;
			overflow: hidden;

			.inner {
				align-items: flex-start;

				h1 {
					background: none;
					margin-top: 160px;
					text-align: center;
					width: 800px;
				}

				p {
					top: 420px
				}
			}

			.slick-prev,
			.slick-next {
				top: 55%;
				z-index: 2;
			}
		}
	}


}