.internal_wrapper {

    .content {

        ul {
            padding-left: 30px;

            li {
                font-size: 16px;
                list-style-type: disc;
                margin-top: 8px;
            }
        }

        h1 {
            background: $gray-bg;
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 4px;
            text-align: left;
            padding: 30px;
        }

        .image-slider {

            h1 {
                background: none;
                text-align: center;
            }
        }

        .product-box {
            display: flex;
            justify-content: space-around;
            margin: 50px auto;
            min-height: 200px;
            overflow: hidden;

            @include flex-col-layout();

            @media screen and (max-width: $lg-breakpoint) {
                align-items: center;
                justify-content: center;
            }

            h2, h3, h4 {
                color: $white;
                font-weight: 500;
            }

            >div {
                margin-top: 20px;
                overflow: hidden;
                width: 45%;

                @include mobile-full-width($lg-breakpoint, 95%);

                @media screen and (max-width: $lg-breakpoint) {
                    margin-top: 50px;
                }

                &:first-child {
                    font-size: 24px;
                    letter-spacing: 1;
                    max-height: 288px;
                    position: relative;

                    @media screen and (max-width: $xl-breakpoint) {
                         max-height: 210px;
                    }
                    @media screen and (max-width: $lg-breakpoint) {
                         max-height: 350px;
                    }

                    img {
                        width: 100%;
                    }

                    h2 {
                        font-size: 24px;
                        letter-spacing: 1px;
                        margin: 0;

                        @media screen and (max-width: $xl-breakpoint) {
                            font-size: 15px;
                        }
                        @media screen and (max-width: $lg-breakpoint) {
                            font-size: 24px;
                        }
                    }

                    .textbox {
                        align-items: center;
                        background: rgba(0, 0, 0, 0.75);
                        bottom: 0;
                        color: $white;
                        display: flex;
                        justify-content: space-between;
                        padding: 12px;
                        position: absolute;
                        width: 100%;
                        z-index: 2;

                        img {
                            width: 50px;
                        }

                        .product-cta {
                            font-size: 16px;
                        }
                    }
                }

                &:last-child {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }

        .product-description {
            display: flex;
            justify-content: space-between;

            @include flex-col-layout();

            .product-image {
                margin-top: -150px;

                @media screen and (max-width: $lg-breakpoint) {
                    margin-top: 40px;
                }
            }

            .product-slider {
                width: 90%;

                @include translate-x-center();

                .slick-prev,
                .slick-next {
                    top: 40%;

                    &:before {
                        color: $black;
                        opacity: .5;
                        font-size: 45px;
                    }
                }

                .slick-prev {
                    left: -50px;
                }

                >div {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        font-weight: 600;
                        margin-top: 10px;
                        text-align: center;
                        width: 100%;
                    }
                }
            }

            >div {
                width: 45%;

                @include mobile-full-width();
            }
        }

        .video-boxes {
            margin-top: 120px;
            display: flex;
            justify-content: space-between;
            margin: 50px auto;

            @include flex-col-layout();

            a {
                height: 350px;
                text-decoration: none;
                width: 48%;

                >div {
                    align-items: flex-end;
                    box-shadow: $default-box-shadow;
                    display: flex;
                    height: 350px;
                    width: 100%;

                    @include mobile-full-width();

                    @media screen and (max-width: $lg-breakpoint) {
                        margin-top: 50px;
                    }
                }

                &:first-child {

                    >div {
                        background: url('../img/alcantara-seat.png');
                        background-position: center;
                        background-size: cover;
                    }
                }

                &:nth-child(2) {

                    >div {
                        background: url('../img/satisfied-customer.png');
                        background-position: center;
                        background-size: cover;
                    }
                }

                .textbox {
                    align-items: center;
                    color: $white;
                    text-shadow: $default-font-shadow;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 20px;
                    width: 100%;

                    h2 {
                        font-size: 28px;
                        text-transform: uppercase;
                    }

                    img {
                        height: auto;
                        width: 80px;
                    }
                }
            }
        }

        &.homepage {

            .hero-wrapper {
                align-items: flex-start;
                display: flex;
                height: 700px;
                justify-content: center;
                overflow: hidden;

                @media screen and (max-width: 1300px) {
                    height: 530px;
                }

                @media screen and (max-width: $lg-breakpoint) {
                    height: auto;
                }
            }

            h1 {
                background: none;
                text-align: center;
            }

            .image-slider {

                .slick-dots {
                   top: 580px;

                   @media screen and (max-width: 1300px) {
                        top: 440px;
                    }
                }

                .slick-arrow {
                    bottom: auto;
                    top: 617px;

                    @media screen and (max-width: 1300px) {
                        top: 480px;
                    }

                    @media screen and (max-width: $lg-breakpoint) {
                        top: 93%;
                    }

                    @media screen and (max-width: $md-breakpoint) {
                        top: 86%;
                    }

                    @media screen and (max-width: $sm-breakpoint) {
                        display: none !important;
                    }
                }

                .slick-prev {
                    @media screen and (max-width: $md-breakpoint) {
                        left: 35%;
                    }
                }

                .slick-next {
                    @media screen and (max-width: $md-breakpoint) {
                        left: 63%;
                    }
                }

                p {
                    top: 600px;
                    font-size: 24px;
                    text-shadow: $default-font-shadow;

                    @media screen and (max-width: 1300px) {
                        top: 460px;
                    }

                    @media screen and (max-width: $lg-breakpoint) {
                        top: 91%;
                    }

                    @media screen and (max-width: $md-breakpoint) {
                        top: 83%;
                    }
                }

                .inner {

                    .product-cta {
                        top: 600px;

                        @media screen and (max-width: 1300px) {
                            top: 460px;
                        }

                        @media screen and (max-width: $lg-breakpoint) {
                            top: 92%;
                        }

                        @media screen and (max-width: $md-breakpoint) {
                            top: 83%;
                        }

                        @media screen and (max-width: $sm-breakpoint) {
                            display: none;
                        }
                    }
                }
            }

            .textbox {
                background: rgba(12, 32, 47, .75);
                color: $white;
                display: flex;
                flex-direction: column;
                font-weight: bold;
                flex-wrap: wrap;
                font-size: 25px;
                line-height: 40px;
                letter-spacing: 1px;
                margin-top: 5%;
                padding: 30px;
                position: absolute;
                z-index: 2;
                width: 500px;

                @media screen and (max-width: $lg-breakpoint) {
                    margin-top: 5%;
                    font-size: 20px;
                }

                @media screen and (max-width: $sm-breakpoint) {
                    font-size: 1.2em;
                    line-height: 1.4em;
                    padding: 10px;
                    width: 100%;
                }

                span {
                    display: block;
                    font-size: 2em;
                    font-style: italic;
                    margin-top: .1em;
                }

                .top {
                    border-bottom: 3px solid $blue-theme-border;
                    padding-bottom: .7em;
                    text-align: center;
                }

                .bottom {
                    display: flex;
                    font-size: 1em;
                    font-weight: 300;
                    justify-content: center;
                    line-height: 1.3em;
                    padding-top: .7em;
                    text-align: center;

                    p {
                        max-width: 300px;
                    }
                }
            }

            .opening-text {
                align-items: center;

                >div {

                    &:first-child {
                        border-right: 4px solid #8f989d;
                        font-family: $main-font;
                        padding: 0 30px;
                        //text-align: center;
                        max-width: 600px;
                        width: 48%;

                        @media screen and (max-width: $lg-breakpoint) {
                            border: 0;
                            border-bottom: 4px solid #8f989d;
                            padding-bottom: 30px;
                             width: 100%;
                        }
                    }
                    &:last-child {
                        width: 51%;

                        @include mobile-full-width();
                    }
                }
            }

            .services {

                >a {
                    
                    &:first-child {
                        >div {
                            background: url('../img/laser.jpg');
                            background-position: center;
                            background-size: cover;
                            box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.4);
                        }
                    }

                    &:nth-child(2) {
                        >div {
                            background: url('../img/gaufrage.jpg');
                            background-position: center;
                            background-size: cover;
                            box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.4);
                        }
                    }
                }
            }
        }
		/* end homepage styles */
        /* following are specific styles for corporate homepage */

        &.corporate {

            .textbox {
                background: none;
                font-family: $accent-font;
                text-shadow: $default-font-shadow;
                width: 70%;
                max-width: 900px;

                @media screen and (max-width: $md-breakpoint) {
                    width: 90%;
                }

                h1 {
                    font-size: 40px;

                    @media screen and (max-width: $lg-breakpoint) {
                        font-size: 30px;    
                    }
                    @media screen and (max-width: $sm-breakpoint) {
                        padding-top: 0;
                        font-size: 23px;    
                    }
                }
            }

            .services {

                >a {
                
                    &:first-child {

                        >div {
                            background: url('../img/customization.jpg');
                            background-position: center;
                            background-size: cover;
                        }
                    }
                }
            }

            .opening-text {
                margin-left: 70px;

                >div {

                    &:first-child {
                        border: 0;
                        font-family: $accent-font;
                        text-align: left;
                        max-width: 500px; 

                        @media screen and (max-width: $lg-breakpoint) {
                            text-align: center;
                             
                        }   
                    }
                }
            }

            .video {
                background: url('../img/video-bg.png');
                background-position: 0 50px;
                background-size: contain;
                background-repeat: repeat-x;

                .video-box {
                    background: url(../img/corporate-video-bg.png);
                    background-size: cover;
                }

                .video-cta {
                    font-family: $accent-font;
                    text-transform: capitalize;

                    p {
                        font-size: 2.6em;
                        line-height: 1em;
                    }

                    span {
                        color: $ampersand-color;
                        font-size: 1.3em;
                    }
                }
            }
        }
    }



    .landing {
        height: 100vh;

        .landing-slider {
            background: black;
            height: 800px;
            overflow: hidden;

            .inner {
                align-items: flex-start;

                h1 {
                    background: none;
                    margin-top: 160px;
                    text-align: center;
                    width: 800px;
                }

                p {
                    top: 420px
                }
            }

            .slick-prev,
            .slick-next {
                top: 55%;
                z-index: 2;
            }
        }
    }

    .page-template-alm {

        .nav-selected {
            margin-bottom: 150px;
        }
    }

    .alm {

        .header-area {

            background: url('../img/ALM-video.jpg');
            background-position: center;
            background-size: cover;
            position: relative;
            min-height: 600px;

            img {
                cursor: pointer;
                position: absolute;

                @include translate-center();
            }
        }
    }
}