
.perrone  {

	.product {

		.product-name {
			display: flex;
			justify-content: center;
			z-index: -1;

			h2 {
				margin-top: 4%;
				text-align: center;

				@media screen and (max-width: 1300px) {
            		margin-top: 3%;
        		}
        		@media screen and (max-width: $md-breakpoint) {
            		margin-top: 2%;
        		}
        		@media screen and (max-width: $sm-breakpoint) {
            		margin-top: 0%;
        		}
			}
		}

		.container {
			width: 60%;

			@media screen and (max-width: $lg-breakpoint) {
            	width: 	80%;
        	}
		}

		.description {
			margin-top: 50px;
		}
	}

	.product-images {

		.slick-arrow {
			top: 115.5%;

			&.slick-prev {
				left: 12%;
			}

			&.slick-next {
				right: 12%;
			}

			&:before {
				color: #333;
			}
		}

		.slick-dots {
			bottom: -130px;
			padding-left: 0;
		}

		.slick-slide {
			max-height: 550px;
		}

		img {
			width: 100%;
		}
	}

	.spec-wrapper,
	.customization-wrapper {

		.read-specs {
			background: $gray-bg;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 22px;
			font-weight: bold;
			padding: 5px 20px;
			width: 100%;

			.fas {
				margin-left: 5px;
				font-size: 24px;
			}
		}

		.specs {
			background: $gray-bg;
			display: flex;
			flex-wrap: wrap;
			height: 0;

			>div {
				flex-direction: column;
				flex-wrap: wrap;
				font-size: 20px;
				line-height: 24px;
				margin:0 20px;
				opacity: 0;
				padding: 20px;
				width: 45%;

				p {
					font-size: 20px;
					line-height: 24px;
				}

				@include mobile-full-width(1130px);

				>div {
					align-items: flex-start;
					min-height: 130px;
					display: flex;
					padding: 20px;
				}

			}

			img {
				width: 80px;
				margin-right: 10px;
			}
		}

		&.open {
			
			.fas {
				transform: rotate(90deg);
				transition: all .3s ease-out;
			}

		 	.specs {
		 		height: auto;
		 		transition: height .5s ease-out;

		 		>div {
		 			opacity: 1;
		 			transition: opacity .5s ease-out;
		 		}
		 	}
		}
	}

	.customization-wrapper {
		margin-top: 30px;

		.specs {
			background: none;
			height: auto;
			justify-content: space-between;

			>div {
				margin: 0;
				opacity: 1;
				padding: 0;
				width: 50%;

				@include mobile-full-width();

				&.chrome-free {
					flex-direction: row;
					align-items: flex-start;
					width: 100%;

					>div {
						flex-direction: column;

						&:first-child {
							align-items: center;
						}
					}
				}
			}
		}

		.chrome-free {
			display: flex;
			justify-content: flex-start;
			width: 92%;
			
			p {
				font-size: 20px;
				line-height: 24px;
			}

			img {
				margin: 0;
			}

			>div {
				padding: 0;
				width: 90%;

				&:first-child {
					width: 10%;
					padding: 0;
				}
			}

		}
	}
}